<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--SendMail-->
    <add key="clientId" value="[ClientID]"/>
    <add key="distributionList" value="[Dest1];[Dest2]"/>
    <add key="scopes" value="User.Read;Mail.Send;Files.ReadWrite" />
    <add key="appsecret" value="[AppSecret]" />
    <add key="tenantid" value="4[TenantID]" />
    <add key="redirecturi" value="https://localhost/" />
  </appSettings>
</configuration>